body {
    background-color: black;
    color: black;
    font-family: arial;
    border: solid 3px;
    padding: 50px;
}

img {
  background-color: black;
  margin: 25px;
  padding: 30px;
}

div {
  padding: 25px;
}

img {
  height: 200px;
  width: 200px;

}
h1, h2 {
  text-align: center;
}

.blablabla {
  color: white
}

#hahahaha {
  color: black
}
